.navbar .nav {
	float:right;
}

body{
  padding: 0px;
}

.navbar-fixed-top{
  margin-bottom:0px;
}

.navbar .brand{
  font-family: CycloneInline;
  font-size: 5em;
  margin-top: 5px;
  line-height:1em;
  text-shadow:none;
  color:#C1D0CD;
}

.navbar-inner{
  min-height:60px;
 background-color:rgba(35, 31, 32, 0.7);
 background-image:none;
}

.navbar .nav>li>a{
 text-shadow:none;
 color:#C1D0CD; 
 margin-top: 2.25em;
 font-family: Verlag;/
 font-size: 1.25em;
}

.navbar .nav>li>a:hover {
 text-shadow:none;
 color:white;  
/*margin-top: 2.75em;*/
}

.navbar{
  color:none;
}

#landing{
  background: url('../img/Landingimageinstant.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  text-align: center;

}

.hero-unit{
  -webkit-border-radius:0px;
  border-radius:0px;
  margin-bottom: 0px;
}

.navbar .btn-navbar{
  margin-right: 30px;
}

#logo{
  position: relative;
  margin-top:20%;
}

#ellipses{
  display:block;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  margin-top:5%;
  margin-bottom:5%%;
}

#tagline {
font-size:4em; 
color:white;
font-family: Verlag;
font-weight: lighter;
}

#howitworks{
/*  padding-top: 100px;
  margin-top: -100px;*/
  width: 100%;
  background-color:  rgb(26,35,38);
}

#signup{
 background-color:  rgb(26,35,38); 
 width: 100%;
}

#recentphotos{
background: url('../img/RecentImagesbackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  width: 100%;
  margin-top:  -10px; 
}

.holder{
  
  margin-top: -40px;
  padding-top: 40px;
  padding-left: 4%;
  min-height: 500px;
  /*height:600px;*/
}
.navstep{
font-size:4em; 
color:white;
font-family: Verlag;
font-weight: lighter;
}

.holdertext{
  font-size:1em; 
  color:white;
  font-family: Gotham;
  font-weight: lighter;
  display:block;
}

.steps{
  font-size:1em; 
  color:white;
  font-family: VerlagComp;
text-align: center;     
  float:left;
  margin-left: auto;
  margin-right:auto;    
}

.hline{
  margin-left: 5%;
}

.step{
  text-transform:  uppercase;
  text-align: center; 
}

.caption{
font-size:1em; 
font-family: Gotham;
text-align: center;   
}





@font-face {
font-family: CycloneInline;
src: url("/static/fonts/Cyclone%20Inline.otf") format("opentype");
}

@font-face {
font-family: Verlag;
src: url("/static/fonts/Verlag%20Book.otf") format("opentype");
}

@font-face {
font-family: VerlagComp;
src: url("/static/fonts/VerlagComp-Bold.otf") format("opentype");
}

@font-face {
font-family: Gotham;
src: url("/static/fonts/Gotham%20Light.otf") format("opentype");
}