{%extends "layout.html" %}

{% block styles %}
<style>
img {
	width:320px;
}
</style>

{% endblock %}
{% block body %}


<div id="Donate" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">
		<div class="span5">
		    {% if projectForm.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in projectForm.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ projectForm[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

		    <h2 class="copyText">Add A User to A Project</h2>
			<form method="POST" enctype="multipart/form-data">
				
				   <label class="dropdown">
                        User Name: <select name="allUsers" id="allUsers">
                            {% for user in allusers|sort %}
                            <option value='{{ user.username }}' > {{ user.username }}
                            {% endfor %}
                        </select>
                    </label>

                    <label class="dropdown">
                        Project Name: <select name="allProjects" id="allProjects">
                            {% for project in allprojects|sort %}
                             <option value='{{ project.projectName }}' > {{ project.projectName }}
                            {% endfor %}
                        </select>
                    </label>
				
				<input class="btn btn-success" type="submit" value="Submit"
			</form>
		</div>

		<div class="span7">
			<h2 class="copyText">Projects and Users</h2>
			<hr>
			{% for project in projects %}
				<h3 class="copyText">{{project.projectName}}</h3>
					<p class="copyText"><smaller> Researcher Name: {{ project.researcher}}</smaller></p>
					<br>
					<p class="copyText"><smaller>Project Location: {{ project.location }}</smaller></p>
					<br>
					<p class="copyText"><smaller>Users: {{ project.users }}</smaller></p>

			{% endfor %}
		</div>
	</div><!-- row -->
	</div>
</div>
</div>

{% endblock %}
{% block scripts %}{% endblock %}