{%extends "layout.html" %}

{% block styles %}
<style>
img {
	width:320px;
}
</style>

{% endblock %}
{% block body %}
<div id="Donate" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">
		<div class="span5">
		    {% if projectForm.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in projectForm.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ projectForm[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

		    <h2 class="copyText">Submit a new Project</h2>
			<form method="POST" enctype="multipart/form-data">
				
				{{ projectForm.projectName.label }}
				{{ projectForm.projectName }}

				{{ projectForm.location.label }}
				{{ projectForm.location }}

				{{ projectForm.researcher.label }}
				{{ projectForm.researcher }}
				<br>
				
				<input class="btn btn-success" type="submit" value="Submit">


			</form>
		</div>

		<div class="span7">
			<h2 class="copyText">Projects</h2>
			<hr>
			{% for project in projects %}
				<h3 class="copyText">{{project.projectName}}</h3>
					<br>
					<p class="copyText"><smaller>{{ project.location }} - {{ project.researcher}}</smaller></p>
			{% endfor %}
		</div>

	</div><!-- row -->
	</div>
</div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}