{% extends "layout.html" %}

{% block body %}

<div id="Admin" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">
              <h1 class="sectionTitle">Welcome {{ current_user.username}},</h1> 
            
              <h3 class="copyText">Lets do some admin stuff!</h3>
              <div class="container">
                <!-- <div id="Donationheader" class="span3 hidden-desktop hidden-tablet"> -->
                <div id="Donationheader" class="span12">
                    <h1 class="sectionTitle">Administrative Options</h1>
                </div>
              </div>
              
              <div class="container">
                    {% with messages = get_flashed_messages(category_filter=["register"]) %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li class="alert">{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}

                    {% if project_form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in project_form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li class="alert">{{ project_form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <div id="DonationForm">
                        <form action="/addproject" method="POST">
                            <div class="span12">
                              <div class= "span5 colLeft">
                                <div class="span5 projectEditing">
                                <h2 class="copySubHeader">Project Editing</h2>
                                <p style="color:white">Create Projects and Add UUID's to Projects</p>
                                {{ project_form.csrf_token }}
                                {{ project_form.name.label }} {{ project_form.name }} <br>
                                {{ project_form.location.label }} {{ project_form.location }} <br>
                                {{ project_form.researcher.label }} {{ project_form.researcher }}<br>
                                {{ project_form.UUID.label }} {{ project_form.UUID }}<br>
                                <input type="submit" value="submit"> 
                                </div><!-- /.phoneOptions -->
                              </div><!-- /.colLeft -->
                              </form>


                              <img class="hidden-phone" src="../static/img/VerticalLine.png">

                              <form action="/adduuid" method="POST">
                              <div class="span5 colRight">
                              <h2 class="copySubHeader">User Editing</h2>
                              <p style="color:white">Add UUID's to a User Profile</p>
	                            {{ uuid_form.username.label }} {{ uuid_form.username }} <br>                                
                                {{ uuid_form.uuid.label }} {{ uuid_form.uuid }}
                              <br>
                              <input type="submit" value="Add UUID"> <small style="color:white;"></small>
                            </div><!-- /.colRight -->
                          </div><!-- /.colsDiv -->

                        </form>
                    </div>
              </div>

            </div><!-- /.row -->
          </div><!-- /.container -->
       </div>   
    </div>



{% endblock %}