{% extends "layout.html" %}

{% block body %}
 <div class="hero-unit">

<p>The Second Nature Project is service started out of NYU Interactive Telecommunications Program. The goal of the project is to raise the general publics awareness to the work of Wildlife Researchers while at the same time addressing e-waste in new way.

For more information about the project please email;

team@secondatureroject.com

If you are a researcher interested in getting involved with the Second Nature Project please email;

research@secondnatureproject.com

We're always looking for more …..</p>
  </div>
  

{% endblock %}