{% extends "layout.html" %}

{% block body %}
      <div id="Donated" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">

              <h1 class="sectionTitle">Thank you {{current_user.username}} so much for your Donation!</h1> 
            
              <h3 class="copyText">You can download and print your shipping label by click the download PDF buttons below.</h3>

              <button>Download PDF Shipping Label</button>

              <h3 class="copyText">As soon as we receive your phone and pair it with a researcher you will be able to find all the photos from your donation under<a href="/users/{{current_user.username}}">{{current_user.username}}s photos </a>in the navigation bar. Additionally you can view customize your preferences to have the photos texted or emailed to you under<a href="/profilesettings"> Profile Settings</a>. Until we receive your phone please enjoy the<a href="/photostream"> Photostream</a></h3>
            </div><!-- /.row -->
          </div><!-- /.container -->
       </div>   
    </div>

{% endblock %}