{% extends "layout.html" %}

{% block body %}
      <div id="Donate" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">

              <h1 class="sectionTitle">Welcome {{ current_user.username}},</h1> 
            
              <h3 class="copyText">Thank you so much for deciding to donate!  Our service relies your donations and we are thankful for your generosity. If you have a smartphone that you would like to donate please review our <a href="/requirements">requirements</a>, and fill out the following form below. </h3>
              <div class="container">
                <!-- <div id="Donationheader" class="span3 hidden-desktop hidden-tablet"> -->
                <div id="Donationheader" class="span12">
                    <h1 class="sectionTitle">Second Nature Project Donation Form</h1>
                </div>
              </div>
              
              <div class="container">
                    {% with messages = get_flashed_messages(category_filter=["register"]) %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li class="alert">{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}

                    {% if form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li class="alert">{{ form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <div id="DonationForm">
                        <form action="/donated" method="POST">
                            <div class="span12">
                              <div class= "span5 colLeft">
                                <div class="span5 phoneOptions">
                                <h2 class="copySubHeader">Phone Check</h2>
                                <p style="color:white">Please confirm the following about your donation</p>
                                {{ form.csrf_token }}
                                {{ form.android }} {{ form.android.label }} <br>
                                {{ form.condition }} {{ form.condition.label }} <br>
                                {{ form.power }} {{ form.power.label }} 
                                </div><!-- /.phoneOptions -->

                                <div class="span5 shippingOptions">
                                <h2 class="copySubHeader">Shipping Preferences</h2>
                                <p style="color:white">You can pick the most convenient way to send your items to us.<br>Choose from:</p>
                
                                {% for subfield in form.shipping %}
                                    <tr>
                                        <td>{{ subfield }}</td>
                                        <td>{{ subfield.label }}</td>
                                        <br>
                                    </tr>
                                {% endfor %}
                                <br>
                                </div><!-- /.shippingOptions -->
                              </div><!-- /.colLeft -->

                              <img class="hidden-phone" src="../static/img/VerticalLine.png">

                              <div class="span5 colRight">
                              <h2 class="copySubHeader">Address</h2>
                              <p style="color:white">We use this information to create your shipping labels</p>
                              
                              {{ form.address.label }} {{ form.address }}
                              {{ form.address2.label }} {{ form.address2 }}                            
                              {{ form.zipcode.label }} {{ form.zipcode }}
                              {{ form.state.label }} {{ form.state }}
                              <br>
                              <input type="submit" value="Go"> <small style="color:white;">(all fields required)</small>
                            </div><!-- /.colRight -->
                          </div><!-- /.colsDiv -->

                        </form>
                    </div>
              </div>

            </div><!-- /.row -->
          </div><!-- /.container -->
       </div>   
    </div>

{% endblock %}