{% extends "layouthome.html" %}

{% block body %}
 
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/img/LandingImageinstant.png" alt="">
          <div class="container">
            <div class="logoCaption">
            <img id="logo" src="../static/img/logo.png">
            <img id="ellipses" src="../static/img/ellipses.png">
            <h1 id="tagline">Smart Phones for Science</h1>
          </div><!-- /.logoCaption -->
          </div><!-- /.container -->
        </div><!-- /.item active -->
      </div><!-- /.carousel-inner-->
    </div><!-- /.carousel -->




{% endblock %}