{% extends "layouthome.html" %}

{% block body %}
 
    <!-- Home -->
    <!-- ================================================== -->
    <div id="Home" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img id="LandingImage" src="../static/img/LandingImageinstant.png" alt="">
          <div class="container">
            <div class="logoCaption">
            <img id="Logo" src="../static/img/logo.png">
            <img id="Ellipses" src="../static/img/ellipses.png">
            <h1 id="Tagline">Smart Phones for Science</h1>
          </div><!-- /.logoCaption -->
          </div><!-- /.container -->
        </div><!-- /.item active -->
      </div><!-- /.carousel-inner-->
    </div><!-- /.carousel -->

    <!-- RecentPhotos -->
    <!-- ================================================== -->
      <div id="HowItWorks" class="carousel slide">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">

              <h2 class="sectionTitle">How It Works</h2> 
              <img src="../static/img/ArrowRight.png">

              <h3 class="copyText">The Second Nature Project transforms donated smartphones into wildlife cameras.</h3>

              <div class="span3 step">
                <img src="../static/img/SignUp.png">
                <h2 class="stepCaption">Signup</h2>
              </div><!-- /.span4 -->
          
              <div class="separator">
              <div class="circle"></div>  
              <img class="" src="../static/img/HorizontalLine.png">
              </div>

              <div class="span3 step">
                <img src="../static/img/SendOff.png">
                <h2 class="stepCaption">Sendoff</h2>
              </div><!-- /.span4 -->

              <div class="separator">
              <div class="circle"></div>  
              <img class="" src="../static/img/HorizontalLine.png">
              </div>

              <div class="span3 step">
                <img src="../static/img/Deploy.png">
                <h2 class="stepCaption">Deploy</h2> 
              </div><!-- /.span4 -->

              <div class="separator">
              <div class="circle"></div>  
              <img class="" src="../static/img/HorizontalLine.png">
              </div>

              <div class="span3 step">
                <img src="../static/img/Notify.png">
                <h2 class="stepCaption">Notify</h2> 
              </div><!-- /.span4 -->
            
            <h3 class="copyText">Consumers can signup and donate their phones to be deployed into the wild under the supervision of wildlife researchers. When phone takes a picture it notifies the user letting them see how their donation is working.</h3>
            
            </div><!-- /.row -->
     
          </div><!-- /.container -->

      <!-- RecentPhotos -->

      <div id="RecentPhotos" class="carousel slide">
      <div class="carousel-inner">
          <img id="RecentPhotosImage" src="../static/img/RecentImagesbackground.jpg" alt="">
          <div class="container">
            <div class="row">

              <h2 class="sectionTitle">Recent Photos</h2> 
              <img class="" src="../static/img/ArrowLeft.png">

              <h3 class="copyText">Below are a just a few of the most recent photos from the wild.  By donating to the Second Nature Project you can help document and identify some of the worlds rarest and threatened species, helping conservationist and researchers.</h3>

              <div class="span4 tile">
                <img src="../static/img/Tiger.jpg">
                <h2>Amur Tiger, Siberia</h2>
              </div><!-- /.span4 -->

              <div class="span4 tile">
                <img src="../static/img/TreeShrew.jpg">
                <h2>Tree Shrew, Indonesia</h2>
              </div><!-- /.span4 -->

              <div class="span4 tile">
                <img src="../static/img/CrownedGuenonMonkey.jpg">
                <h2>Crowned Guenon Monkey, Congo</h2> 
              </div><!-- /.span4 -->

           <h3 class="copyText">By donating to the Second Nature Project you can help document and identify some of the worlds rarest and threatened species, helping conservationist and researchers.</h3>
            
            </div><!-- /.row -->  
          </div><!-- /.container -->

  
        
      
      <!-- /END THE FEATURETTES -->



{% endblock %}