{% extends "layout.html" %}

{% block body %}
      <div id="Welcome" class="carousel slide scroll">
      <div class="carousel-inner">
          <div class="container">
            <div class="row">

              <h1 class="sectionTitle">The Second Nature Project PhotoStream</h1> 
          
              <h3 class="copyText">Below are all the Research Projects currently involved with The Second Nature Project.</h3>

              {% for image in images %}

              <!-- {%- if image.project -%}...{% endif %} -->

              <a href="https://s3.amazonaws.com/secondnatureproject/{{image.filename}}">
              <img src="https://s3.amazonaws.com/secondnatureproject/{{image.filename}}" class="img-polaroid">
              </a>
        <br>
              {% endfor %}

            </div><!-- /.row -->
          </div><!-- /.container -->
       </div>   
    </div>

{% endblock %}