{% extends "layout.html" %}

{% block body %}
 <div class="hero-unit">

<p>For smartphones to be a part of the second nature project there are a few minimum requirements that they must meet. 

Condition: Donated Smartphones are expected to be gently used, but not broken. For it to be a useful tool for wildlife conservationists and researches the phone must still power on and hold a charge, and the screen a camera must be in good functioning condition.

Operating System: Currently the we only support Android phones running 2.3.2 or above. If your unsure of what operating system you have, you can find out by going to Settings->About this phone -> System information

Data and Privacy: Before sending your phones to second nature you must erase all the data from the phone.  This can be done through Settings->Factory Erase</p>
  </div>
  

{% endblock %}