{%extends "layout.html" %}

{% block styles %}
<style>
img {
	width:320px;
}
</style>

{% endblock %}
{% block body %}

	<div class="row">
		<div class="span5">
		    {% if uploadForm.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in uploadForm.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ uploadForm[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

		    <h2>Upload an image</h2>
		    <p>Behave.</p>
			<form method="POST" enctype="multipart/form-data">
				
				{{ uploadForm.fileName.label }}
				{{ uploadForm.fileName }}

				{{ uploadForm.timeTaken.label }}
				{{ uploadForm.timeTaken }}

				{{ uploadForm.UUID.label }}
				{{ uploadForm.UUID }}
				<br>
				{{ uploadForm.fileupload.label }}
				{{ uploadForm.fileupload }}
				<br><br>
				<input class="btn btn-success" type="submit" value="upload">


			</form>
		</div>

		<div class="span7">
			<h2>Images</h2>
			<hr>
			{% for img in images %}
				<a title="{{img.fileName}}" alt="Title:{{img.fileName}}. Description: {{img.UUID}}" href="https://s3.amazonaws.com/secondnatureproject/{{img.filename}}">
				<img src="https://s3.amazonaws.com/secondnatureproject/{{img.filename}}" class="img-polaroid"></a>
				<br>
				<h3>{{img.fileName}}</h3>
					<br>
					{{ img.timeTaken }} - {{ img.timestamp.strftime("%m/%d/%y")}}
				</p>
				<a href="/delete/{{img.id}}" class="btn btn-small btn-danger">delete</a>
				<hr>
			{% endfor %}
		</div>

	</div><!-- row -->

{% endblock %}

{% block scripts %}{% endblock %}